$font-poppins: "Poppins", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
//font size & line height
$size-text-page: 14px;
$line-height-text-page: 28px;
$size-form: 14px;
$line-height-form: 28px;
$size-btn: 14px;
$line-height-btn: 28px;
$size-menu: 14px;
$line-height-menu: 26px;
$size-title-h1: 40px;
$line-height-title-h1: 26px;
$size-title-h2: 30px;
$line-height-title-h2: 42px;
$size-title-h2-slogan: 24px;
//background-gradient
$background-gradient: linear-gradient(-18deg, #071d68 0%, #0b4bec 100%);
//transition
$transition-time: color 0.5s, background-color 0.5s;
//color
$color-text-white: #ffffff;
$color-text-black: #333333;
$color-text-gray: #808080;
$color-btn-background-white: #ffffff;
$color-btn-background-blue: #0b4bec;
$color-btn-blue: #0b4bec;
$color-btn-white: #ffffff;
