$font-poppins: "Poppins", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-color-white: #ffffff;
$font-color-black:#333333;
$font-color-gray: #808080;
//background
$background-gradient: linear-gradient(-18deg, #071d68 0%, #0b4bec 100%);
/*btn variable*/
$btn-color-background-white: #ffffff;
$btn-color-background-blue: #0b4bec;
$btn-color-blue: #0b4bec;;
$btn-color-white: #ffffff;
//transition
$transition-time: color 0.5s, background-color 0.5s;
